DoorwayTransition.xcodeproj/project.xcworkspace/contents.xcworkspacedata
DoorwayTransition.xcodeproj/project.xcworkspace/xcshareddata/DoorwayTransition.xccheckout
DoorwayTransition.xcodeproj/project.xcworkspace/xcuserdata/schuster.xcuserdatad/UserInterfaceState.xcuserstate
DoorwayTransition.xcodeproj/project.xcworkspace/xcuserdata/schuster.xcuserdatad/WorkspaceSettings.xcsettings
DoorwayTransition.xcodeproj/xcuserdata/schuster.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
DoorwayTransition.xcodeproj/xcuserdata/schuster.xcuserdatad/xcschemes/DoorwayTransition.xcscheme
DoorwayTransition.xcodeproj/xcuserdata/schuster.xcuserdatad/xcschemes/xcschememanagement.plist
